* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#page-container{
  position:relative;
  min-height:150vh;
}

#content-wrap {
  padding-bottom: 3rem;
}

/* Typo */

a {
  color: inherit;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 31px;
  line-height: 1.2;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #2fa1db;
  padding-bottom: 20px;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  height: 67px;
  line-height: 67px;
  width: 100%;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
}

.nav-wrapper {
  margin: auto;
  text-align: center;
}

.logo {
  float: left;
  height: 67px;
  margin-left: 5em;
}
.menu {
  margin-right: 5em;
}
#navbar ul {
  display: flex;
  float: right;
  list-style: none;
  margin-left: 14px;
  margin-top: -2px;
  text-align: left;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: #000;
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

#navbar li a:hover {
  color: #2fa1db;
}

/* Hero */

  .business { 
    display: flex; 
    flex-direction: row; 
    padding-top:3em;
    margin:0px;
    height:auto;
} 

.textbusiness { 
    width: 50%; 
    padding:8em 4em 2em 5em;
    background-color: pink; 
    text-align: left; 
    color: black; 
    height:auto;
    line-height: 1.8em;
} 

.textbusiness p {
  margin-top:30px;
  margin-right:8em;
}

.imagemusk { 
    width: 50%; 
    padding:5em 5em 0em 0em;
}

.imagemusk img{
display: block;
object-fit: auto;
}

.button-wrapper {
  display: flex;
  text-align: center;
  padding-top: 30px;
}

.button {
  display: inline-block;
  justify-content: center;
  padding: 0.5em 1.2em;
  width: auto;
  background: #eaeaea;
  color: #000;
  font-weight: 500;
  font-size: 1em;
  border-radius: 20px;
  text-decoration: none;
  border: none;
}

.button:hover {
  background: #f2fbfe;
  color: #356c88;
}

.solidlinemusk {
  border-top: 10px solid #66cef5;
  margin-left: -2em;
  display: absolute;
}

@media (max-width: 640px) {
  .business { 
    display: flex; 
    flex-direction: column; 
    padding:0em;
    margin:0px;
    height:auto;
  }
  .textbusiness { 
    width: 100%; 
    padding:auto ;
    background-color: pink; 
    text-align: left; 
    color: black; 
    height:auto;
    line-height: 1.4em;
} 
.imagemusk { 
  width: 100%; 
  padding:5em 0em 0em 0em;
}
.textbusiness p {
  padding-top:30px;
  margin:auto;
}
}
/* QUOTE */

.quote { 
  display: flex; 
  flex-direction: column; 
  padding:5em 0em;

  text-align:center;
  background-color:#ccff00;
  }
  .quote-wrap { 
    display: flex; 
    flex-direction: column; 
    margin:auto;
    width: 30%; 
    text-align:left;
    background-color:#fff;
    }

  .quote img {
    text-align:left;
  }
  
  /* blue text */
  .blue {
    color: #2fa1db;
  }
.quote h1 {
  line-height: 1.4em;
}
  @media (max-width: 640px) {

    .quote { 
      display: flex; 
      flex-direction: column; 
      padding:3em 0em;
      text-align:center;
      background-color:#ccff00;
      }
      .quote-wrap { 
        display: flex; 
        flex-direction: column; 
        margin:auto;
        width: 80%; 
        text-align:center;
        background-color:#fff;
        }
    
      .quote img {
        text-align:center;
      }
      
      /* blue text */
      .blue {
        color: #2fa1db;
      }
    .quote h1 {
      line-height: 1.4em;
    }
  }

/* Entrepreneurship */


.entrepreneurship { 
  display: flex; 
  flex-direction: row; 
  height:auto;
} 

.textentrepreneurship { 
  width: 50%; 
  padding:5em 4em 2em 5em;
  background-color: pink; 
  text-align: left; 
  color: black; 
  height:auto;
  line-height: 1.8em;
} 

.textentrepreneurship p {
margin-top:30px;
margin-right:3em;
}

.founding { 
  width: 50%; 
  display: flex;
  flex-wrap:wrap; 
}

.founding img {
  width: 300px;
  display: block;
}

.button-wrapper {
display: flex;
text-align: center;
padding-top: 30px;
}

.button {
display: inline-block;
justify-content: center;
padding: 0.5em 1.2em;
width: auto;
background: #eaeaea;
color: #000;
font-weight: 500;
font-size: 1em;
border-radius: 20px;
text-decoration: none;
border: none;
}

.button:hover {
background: #f2fbfe;
color: #356c88;
}


@media (max-width: 640px) {
  .entrepreneurship { 
    display: flex; 
    flex-direction: column-reverse; 
    height:auto;
  } 
  
  .textentrepreneurship { 
    width: 100%; 
    padding:auto ;
    background-color: pink; 
    text-align: left; 
    color: black; 
    height:auto;
    line-height: 1.4em;
  } 
  
  .textentrepreneurship p {
  margin-top:30px;
  margin-right:3em;
  }
  
  .founding { 
    width: 50%; 
    display: flex;
    flex-wrap:wrap; 
  }
  
  .founding img {
    width: 300px;
    display: block;
  }
  
  .button-wrapper {
  display: flex;
  text-align: center;
  padding-top: 30px;
  }
  
  .button {
  display: inline-block;
  justify-content: center;
  padding: 0.5em 1.2em;
  width: auto;
  background: #eaeaea;
  color: #000;
  font-weight: 500;
  font-size: 1em;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  }
  
  .button:hover {
  background: #f2fbfe;
  color: #356c88;
  }
}

/* FOOTER */
#footer {
  background-color: #555555;
  padding: 15px;
  width: 100%;
  margin:auto;
  position: absolute;
  text-align: center;
  color: #fff;
  border: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}