* {
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Typo */

a {
  color: inherit;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 31px;
  line-height: 1.2;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #2fa1db;
  padding-bottom: 20px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 300;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

/* Layout */

.row {
  padding-top: 90px;
  flex-direction: raw;
}

.paragraph {
  padding-top: 20px;
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

.column3 {
  float: left;
  width: 25%;
  padding: 15px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.columnentrepreneurship {
  float: left;
  width: 33%;
}

.columnbooks {
  float: left;
  width: 16.5%;
}

.columnbooks1 {
  float: right;
  width: 33%;
}

/* CTA */

.button-wrapper {
  display: flex;
  text-align: center;
  padding-top: 30px;
}

.button {
  display: inline-block;
  justify-content: center;
  padding: 0.5em 1.2em;
  width: auto;
  background: #eaeaea;
  color: #000;
  font-weight: 500;
  font-size: 1em;
  border-radius: 20px;
  text-decoration: none;
  border: none;
}

.button:hover {
  background: #f2fbfe;
  color: #356c88;
}
.plusicons {
  float: right;
  margin-right: -30px;
}

.tesla {
  margin-left: 50px;
  padding-bottom: 25px;
}
.grey {
  color: #707070;
}

.solid {
  border-bottom: 10px solid #66cef5;
  margin-left: -50px;
  display: absolute;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  height: 67px;
  line-height: 80px;
  width: 100%;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
}

.nav-wrapper {
  margin: auto;
  text-align: center;
}

.logo {
  float: left;
  height: 80px;
  margin-left: 100px;
}
.menu {
  margin-right: 100px;
}
#navbar ul {
  display: flex;
  float: right;
  list-style: none;
  margin-left: 14px;
  margin-top: -2px;
  text-align: left;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}
@media (max-width: 640px) {
  #navbar ul {
    display: none;
  }
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: #000;
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

#navbar li a:hover {
  color: #2fa1db;
}

/* QUOTE SECTION */
.quote {
  text-align: center;
  padding: 20% 10%;
  margin-right: 33%;
  background-color: #cacaca;
  border-radius: 400px;
}

.quote:hover {
  background-color: #707070;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}

/* blue text */
.blue {
  color: #2fa1db;
}

/* FOOTER */
.bg-footer {
  background-color: #555555;
  padding: 15px;
  width: 100%;
  position: relative;
  text-align: center;
  color: #fff;
  border: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

.business:not(.solid) {
  margin-left: 100px;
  margin-right: 100px;
}
.stats {
  margin-left: 100px;
  margin-right: 100px;
}

.core-tech {
  margin: 0px 80px 0px 110px;
}

.technology {
  margin-left: 100px;
  margin-right: 100px;
}

.quote2 {
  margin-left: 100px;
  margin-right: 100px;
}
.entrepreneurship {
  margin-left: 100px;
  margin-right: 100px;
}

.books {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 90px;
}

.col-biz {
  padding: 120px 200px 0px 0px;
}

.col-tech {
  padding-top: 250px;
}

.col-entre {
  padding-top: 180px;
}

.bg-corner {
  background-image: url(images/bg-corner-top.png);
  background-position: right;
  background-repeat: no-repeat;
}

.bg-dots {
  background-image: url(images/bg-dots.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.bg-dots2 {
  background-image: url(images/bg-dots.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.bg-corner2 {
  background-image: url(images/corner-bottom.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

/* CARDS */

.container {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}

.card {
  position: relative;
  width: 180px;
  height: 250px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}

.card .face.face1 h2 {
  margin: 0;
  padding: 0;
}

.card .face.face1 .content {
  font-size: 1.2em;
  margin: 0;
  padding: 0 0 1em 0;
  font-weight: 500;
}

.card .face.face2 {
  background: #111;
  transition: 0.5s;
}

.card:nth-child(1) .face.face2 {
  background: linear-gradient(135deg, #3503ad, #2fa1db);
  border-radius: 15px;
}

.card:nth-child(2) .face.face2 {
  background: linear-gradient(45deg, #2fa1db, #ccff00);
  border-radius: 15px;
}

.card:nth-child(3) .face.face2 {
  background: linear-gradient(135deg, #ccff00, #e91e63);
  border-radius: 15px;
}

.card:nth-child(4) .face.face2 {
  background: linear-gradient(45deg, #e91e63, #3503ad);
  border-radius: 15px;
}

.card:hover .face.face2 {
  height: 60px;
  border-radius: 0 0 15px 15px;
}

.card .face.face2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px 0 0 15px;
}

.card .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 4em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card:hover .face.face2 h2 {
  font-size: 2em;
}
